<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/StyleSheet.css" />

</head>
<body>
    <h1>THis is my layout page</h1>
    <div>
        @RenderBody()
    </div>
    <h4>THis is my footer</h4>
</body>
</html>
