@{
    Layout = "_Layout";

}

<!Doctype html>


@*// I am a razor view*@
<head>
    <title> Home Page</title>
    <link rel="stylesheet" href="~/StyleSheet.css" />
 </head>
<body>
    <h1> WELCOME! </h1>

    // component class is required
    @await Component.InvokeAsync("TopPosts", 3);
</body>