@page
@model CMSD10DemoCode.Pages.Admin.DashboardModel
@{
}

<h1>Welcome Admin!</h1>

@* Bring in a link to a posts page (maybe a posts controller???) *@

<a asp-action="Index" asp-controller="Posts">POSTS HERE</a>