@{ 
    var name = "Amanda";
}

<!DOCTYPE html>
<head>
    <title>Class 11 Demo</title>
</head>
<body>
    <h1>Happy Monday @name! :D </h1>

    <p> Hello World this is super duper cool!!</p>
</body>
