<!DOCTYPE html>
<head>
    <title>Welcome to Class</title>
</head>

<body>
    <h1>WELCOME!</h1>

    <!--We are going to do a POST request to our server with the information in our form-->
    <form method="post">

        <label name="FirstName">First Name:</label>
        <input type="text" placeholder="First Name here" name="FirstName" />

        <label name="LastName">Last Name:</label>
        <input type="text" placeholder="Last Name here" name="LastName" />

        <label name="Age">Age:</label>
        <input type="number" maxlength="2" name="Age" />

        <label name="FavoriteColor">Favorite Color</label>
        <input type="text" name="FavoriteColor" />

        <button type="submit">SUBMIT</button>

    </form>

</body>