@model MVCDemo.Models.Student

<!Doctype html>

<head>
    <title>Results Page</title>
</head>
<body>
    <h1>STUDENT RESULT</h1>

    <h2>@Model.FirstName @Model.LastName</h2>
    <p>@Model.Age years old</p>
    <p>Favorite Color: @Model.FavoriteColor</p>
</body>